@import './base/reset';
@import './configs/variables';

body{
    height: 100%;
    min-height: 100%;
    overflow-x:hidden;
    background: rgb(33, 33, 34);
    // background: linear-gradient(90deg, rgb(48, 48, 49) 7%, rgb(20, 22, 22) 9%, rgba(20,11,23,0.958420868347339) 54%);
}