.modal-container{
    margin: 0 auto;
    background-color: #5a082e;
    width: 60%;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 1rem 1.8rem;

    h4{
        text-align: center;
        margin-bottom: 1rem;
        font-size: 1.5rem;
        color: #e4e2e3;
        border-bottom: 1px solid #dd1f78;
    }
    .modal-container__main {
        display: flex;
    }
}
