// theme colors
$primary: #02a2ef;
$secondary: #1ac888;

// color palette
$colors: (
    'primary': $primary,
    'secondary': $secondary,
    'white': #fff,
    'black': #000,
     'gray':#808080,
     'magenta':#ff00ff
);